#root{
  text-align: center;
}

h1{
  color: deepskyblue;
  font-family: 'Fredoka', sans-serif;
  font-family: 'Ubuntu', sans-serif;
}

.counter-div{
  border:2px solid black;
  font-family: 'Fredoka', sans-serif;
  font-family: 'Ubuntu', sans-serif;
}

.bt{
  padding: 10px 30px;
  margin-bottom: 10px;
  color: white;
  font-family: 'Fredoka', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  outline: none;
  border: none;
  border-radius: 3px;
}

.count{
  background-color: #3aaab0;
}

.reset{
  background-color: #b0423a;
}